.box1{
  border: 2px solid black;
  width: 960px;
  height: 570px;
}

.box2{
  margin-top: 130px;
    border: 2px solid black;
  width: 960px;
  height: 570px;
}

.box3{
  margin-top: 130px;
  border: 2px solid black;
  width: 960px;
  height: 570px;
  
}

.red{
  background: red;
  width: 200px;
  height: 200px;
  float: left;
}

.blue{
  background: blue;
  width: 200px;
  height: 200px;
  float: left;
  position: absolute;
  margin-top: 370px;
}

.green{
  background: green;
  width: 200px;
  height: 200px;
  float: right;
  
  
}

.yellow{
  background: yellow;
  width: 200px;
  height: 200px;
  float: right;
  margin-top: 370px;
  margin-left: 760px;
  position: absolute;
}

.redRec{
    background: red;
  width: 240px;
  height: 570px;
  float: left;
}
.blueRec{
    background: blue;
  width: 240px;
  height: 570px;
  float: left;
}
.greenRec{
    background: green;
  width: 240px;
  height: 570px;
  float: left;
}
.yellowRec{
    background: yellow;
  width: 240px;
  height: 570px;
  float: left;
}

.redLay{
  background: red;
  width: 920px;
  height: 120px;
  margin-top: 20px;
  margin-left: 20px;
}

.blueLay{
  background: blue;
  width: 730px;
  height: 395px;
  margin-top: 20px;
  float: left;
}

.greenLay{
  background: green;
  width: 175px;
  height: 395px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}